<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Tetris | Atsauksmes | Paldies</title>
    <style>
 a:link {
    color: hotpink;
  }
 a:visited {
    color: red;
  }
 a:hover {
    color: blanchedalmond;
  }
 a:active {
    color: hotpink;
  } 
    </style>
</head>
<body>
<html>
    <header>
        <div class="paldies">
            <h1>Paldies par jūsu komentāru, tas tika nosūtīts!</h1></br>
            <p>Mēs novērtējam, ka jūs veltījāt laiku, lai nosūtītu mums atsauksmi vai jautajumu. Jūsu komentārs ir nosūtītas mūsu informatīvajai nodaļai.</p>
            <p><a class="paldies_112" href="../index.html">Atpakaļ uz galveno lapu</a>.</p>
        </div>
    </header>
</body>
</html>