<!DOCTYPE html>
<html>
<head>
    <title> Vairāk </title>
    <link rel="stylesheet" type="text/css" href="../css/css1/style1.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
               
            </div>
            <ul>
                <li><a href="../index.html">Uz sākumu</a></li>
                <li><a href="../view/Vesture.html">Spēles vēsture</a></li>
                <li><a href="../view/Atsauksmes.html">Atsauksmes</a></li>
                <li><a href="../view/Galerija.html">Galerija</a></li>
                <li><a href="../view/izveidotaji.html">Par izveidotājiem</a></li>
                <li><a href="../view/kontakti.html">Kontakti</a></li>
            </ul>
        </div>
        <div class="title">
            <h1 class="glow">Tetris</h1>
        </div>
            <div class="paragraph1"><h3> Kā spēlēt</h3>
            <p>
                Mērķis ir nomest blokus, ko sauc par tetromino, spēles laukumā, lai izveidotu līnijas. 
                Tetrimino ir izgatavoti no četriem savienotiem kvadrātiem, katrā Ir septiņi dažādi tetromino veidi.  
                Līmeņiem ir noteikts mērķis vai jānotīra rindiņu skaits. Kad mērķa skaitlis sasniedz nulli, spēlētājs pāriet uz nākamo līmeni. 
                Paaugstinoties līmenim, tetromino krīt ātrāk. Spēlētājs saņem bonusa punktus, ja viņš var notīrīt vairāk nekā vienu līniju ar vienu tetromino. 
                Četru līniju notīrīšana tiek saukta par "tetris", trīs līnijas par "triple" un divas līnijas par "double". 
                Divu tetrisu notīrīšanu pēc kārtas sauc par "back-to-back tetris", kas ir savstarpēji savienotas. 
            </p>
            </div>
            
            <div class="kresls">
                <img src="../pictures/tetris-gif.gif">
            </div>

            <div class="paragraph2"> <h4> Mūzika </h4>
            
            <p>
                Programmā Game Boy tiek atskaņotas vairākas muzikālas tēmas. 1. līmeņa motīvu, kas tiek izmantots Game Boy versijā, bieži sauc par "Tetris tēmu".
                 Tā patiesībā ir krievu deja, ko sauc par Korobeiniki, jeb "Pārdevēji". 
                 Citas tēmas ietver Johana Sebastiana Baha mūziku un Cukur plūmju fejas deju.
            </p>
            </div>
        
    </header>


</body>
</html>